body {
  margin: 0;
  padding: 0;
  font-family: "Expletus Sans", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#arCamera {
  border-radius: 10px;
  margin-bottom: 20px;
}

header {
  background-color: #f9f9f9;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Nabla", serif;
}

main {
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.video-scan-box {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 40px 20px;
  margin-bottom: 20px;
  position: relative;
  height: 100%;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #3cb371;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 10px;
  font-size: 18px;
}

.video-scan-box p {
  margin: 0;
  font-style: italic;
  color: #333;
}

.info-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-button:hover {
  background-color: #f0f0f0;
}

footer {
  background-color: #f9f9f9;
  padding: 10px 0;
  font-size: 12px;
  color: #666;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h_iframe {
  position: relative;
  height: 100%;
}
